<div class="row">
<div class="col-sm-6">
<form #saveForm="ngForm" (ngSubmit)="submit(saveForm)">
    <h2 class="form-signin-heading">Create Task</h2>
    <div class="form-group">
      <label for="exampleInputEmail1">Title</label>
      <input type="text" class="form-control" id="exampleInputEmail1"  name="title" ngModel aria-describedby="emailHelp" placeholder="Title" required>
      <small id="emailHelp" class="form-text text-muted"></small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Description</label>
      <input type="text" class="form-control" name="Description" ngModel id="exampleInputPassword1" placeholder="Description" required>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">DueDate</label>
        <input type="date"  class="form-control" id="exampleInputPassword1" name="duedate" ngModel placeholder="DueDate" required>
    </div>
     <div class="form-group">
    <label>List</label>
    <select class="form-control form-control" id="listid" ngModel name="listId" #mySelect >
        <option></option>
        <option value="{{list.id}}" *ngFor="let list of lists" >{{list.name}}</option>
      </select>
    </div>
    <div class="form-group form-check">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="cancel" style="margin-left: 5px;"class="btn btn-dark" (click)="cancel()">Cancel</button>
  </form>
</div>
</div>
