<div class="row">
    <div class="col-sm-5">
  <form #editForm="ngForm" (ngSubmit)="submit(editForm,listId)">
    <h3>Edit List</h3>
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" id="name"  name="name" ngModel aria-describedby="emailHelp" [ngModel]="list?.name" placeholder="name">
      </div>
      <div class="form-group">
        <label>Description</label>
        <input type="text" class="form-control" name="description" ngModel id="address"[ngModel]="list?.description" placeholder="Description">
      </div>
      <div class="form-group form-check">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <button type="cancel" style="margin-left: 5px;"class="btn btn-dark" (click)="cancel()">Cancel</button>
    </form>
    </div>
  </div>