<button class="bi bi-arrow-left-circle" (click)="back()">Back</button>
<table class="table table-striped" style="margin: 30px;">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Address</th>
    <th scope="col">City</th>
    <th scope="col">Longitude</th>
    <th scope="col">Latitude</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let location of locations; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td><a routerLink="/editlocation" [state]="{location:location}">
      {{ location.name }}
    </a>
    </td>
    <td>{{ location.address}}</td>
    <td>{{ location.city.name}}</td>
    <td>{{ location.city.longitude}}</td>
    <td>{{location.city.latitude}}</td>
    <td><button class="btn btn-danger" (click)="delete(location.id)">Delete</button></td>
  </tr>
  </tbody>
</table>
<button style="float: right;margin-right: 50px;" class="btn btn-success" (click)="create()">Create</button>