<div class="row">
  <div class="col-sm-5">
<form class="form-signin" #registerForm="ngForm" (ngSubmit)="register(registerForm)">
    <div class="container-fluid">
      <h2 class="form-signin-heading">Register</h2>
      <div *ngIf="invalidRegister" class="alert alert-danger">Fill fields in appropriate form</div>
      <br/>
      <label for="username" class="sr-only" required>Email address</label>
      <input type="text" id="firstname" name="firstname" ngModel class="form-control" placeholder="First Name" required autofocus>
      <br/>
      <input type="text" id="lastname" name="lastname" ngModel class="form-control" placeholder="Last Name" required autofocus>
      <br/>
      <input type="email" id="email" name="email" ngModel class="form-control" placeholder="Email" required autofocus>
      <br />
      <label for="password" class="sr-only">Password</label>
      <input type="password" id="password" name="password" ngModel class="form-control" placeholder="Password" required>
      <br/>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    </div>
  </form>
</div>
</div>