<!-- <form class="form-signin" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
    <div class="container-fluid">
      <h2 class="form-signin-heading">Login</h2>
      <div *ngIf="invalidLogin" class="alert alert-danger">Invalid email or password.</div>
      <br/>
      <label for="username" class="sr-only">Email address</label>
      <input type="email" id="Email" name="Email" ngModel class="form-control" placeholder="Email" required autofocus>
      <br/>
      <label for="password" class="sr-only">Password</label>
      <input type="password" id="password" name="password" ngModel class="form-control" placeholder="Password" required>
      <br/>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </div>
  </form>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
---- Include the above in your HEAD tag -------- -->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->

    <div *ngIf="invalidLogin" class="alert alert-danger">Invalid email or password.</div>

    <!-- Login Form -->
    <form class="form-signin" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
      <input type="text" id="Email" class="fadeIn second" ngModel name="Email" placeholder="Email">
      <input type="password" id="password" class="fadeIn third" ngModel name="password" placeholder="Password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="/register">Register</a>
    </div>

  </div>
</div>

