<div *ngIf="isUserAuthenticated()" style="color:blue;">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">You are loggedIn</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" style="margin-left:10px ;">
          <button type="button" class="btn btn-primary"><a class="nav-link active" aria-current="page" href="/task">Create/Edit Task</a></button>
        </li>
        <li class="nav-item" style="margin-left:10px ;">
          <button type="button" class="btn btn-primary"><a class="nav-link active" aria-current="page" href="/list">Create/Edit List</a></button>
        </li>
        <li class="nav-item" style="margin-left:10px ;">
          <button type="button" class="btn btn-info"><a class="nav-link active" aria-current="page" href="/edituser">Edit User</a></button>
        </li>
        <li class="nav-item" style="margin-left:10px ;">
          <button type="button" class="btn btn-danger"><a class="nav-link active" (click)="logOut()"  href="#" aria-current="page">Logout</a></button>
        </li>
      </ul>

    </div>
  </div>
  </nav>
  </div>
  <ul>
    <!-- <li><a routerLink="/customers">Customer</a></li> -->
    <!-- <li><a routerLink="/register">Register</a></li> -->
    <li *ngIf="!isUserAuthenticated()"><a routerLink="/login">Login</a></li>
    <li *ngIf="!isUserAuthenticated()"><a routerLink="/register">Register</a></li>
    <!-- <li *ngIf="isUserAuthenticated()"><a class="logout" (click)="logOut()">Logout</a></li> -->
  </ul>